<section class="card">
  <a href="/plant/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <h2 class="plant-name">{{plantname}}</h2>
      <p>{{scientificName}}</p>
      <ul class="plant-info">
        <li>{{wateringInfo}}</li>
        <li>{{soilInfo}}</li>
        <li>{{lightInfo}}</li>
        <li>{{fertilizerInfo}}</li>
        <li>{{spaceInfo}}</li>
        <li>{{indoorInfo}}</li>
        <li>{{pestInfo}}</li>
        <li>{{toxicityInfo}}</li>
      </ul>
    </div>
  </a>
</section>
