<section class="card">
    <header>{{common_name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <h2 class="plant-name">{{common_name}}</h2>
      <p><i>{{latin_name}}</i></p>
      <ul class="plant-info">
        <li>Watering Schedule: {{watering_schedule}}</li>
        <li>Soil Type: {{soil_type}}</li>
        <li>Light Requirements: {{light_req}}</li>
        <li>Fertilizer Requirements: {{fertilizer_req}}</li>
        <li>Space Requirements: {{space_req}}</li>
        <li>Indoor/Outdoor: {{indoor_outdoor}}</li>
        <li>Pest Information: {{pest_info}}</li>
        <li>Toxicity for Pets: {{pet_care}}</li>
      </ul>
    </div>
</section>