<section class="card">
  <a href="/plants/{{id}}">
    <header>{{common_name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <h2 class="plant-name">{{common_name}}</h2>
      <p>{{latin_name}}</p>
      <ul class="plant-info">
        <li>{{watering_schedule}}</li>
        <li>{{soil_type}}</li>
        <li>{{light_req}}</li>
        <li>{{fertilizer_req}}</li>
        <li>{{space_req}}</li>
        <li>{{indoor_outdoor}}</li>
        <li>{{pest_info}}</li>
        <li>{{pet_care}}</li>
      </ul>
    </div>
  </a>
</section>
