<section class="info-card">
  <div class="info-card-body">
    <img src="https://cdn.shopify.com/s/files/1/0435/5306/3061/products/Photocomingsoon_6cfeb98a-2b0a-4b6b-aee2-5932073b7115_300x.jpg?v=1624135429">
    <h2 class="plant-name">{{common_name}}</h2>
    <p><i>{{latin_name}}</i></p>
    <ul class="plant-info">
      <li><b>Watering Schedule:</b> {{watering_schedule}}</li>
      <li><b>Soil Type:</b> {{soil_type}}</li>
      <li><b>Light Requirements:</b> {{light_req}}</li>
      <li><b>Fertilizer Requirements:</b> {{fertilizer_req}}</li>
      <li><b>Space Requirements:</b> {{space_req}}</li>
      <li><b>Indoor/Outdoor:</b> {{indoor_outdoor}}</li>
      <li><b>Pest Information:</b> {{pest_info}}</li>
      <li><b>Toxicity for Pets:</b> {{pet_care}}</li>
    </ul>
  </div>
  {{#if user.username}}
  <div class="meta">
    <p class="creator-name">Added by {{user.username}} on {{createdAt}}</p>
  </div>
  {{/if}}
</section>